<% @tournaments.each do |t| %>
  <%= t.id %>
  <%= t.name %>
  <br>
<% end %>
<div class="container">
  <% @tournaments.each do |tournament| %>
    <br>
    <%= link_to tournament.name, tournament_path(tournament.id) %>
  <% end %>
  <br>
  <%= link_to "Todos los torneos", tournaments_path %>

</div>
