<div class="container pt-4">

// SDK MercadoPago.js
<script src="https://sdk.mercadopago.com/js/v2"></script>

<div class="cho-container"></div>
<script>
  const mp = new MercadoPago('PUBLIC_KEY', {
    locale: 'es-AR'
  });

  mp.checkout({
    preference: {
      id: '<%= @preference_id %>'
    },
    render: {
      container: '.cho-container',
      label: 'Pagar',
    }
  });
</script>

</div>
