<div class="container pt-4">
  <div class="cho-container"></div>
  <script>
    const mp = new MercadoPago('TEST-226940d9-33d8-4483-b7c8-b7f72dc8eec1', {
      locale: 'es-AR'
    });

    mp.checkout({
      preference: {
        id: '<%@preference_id%>'
      },
      render: {
        container: '.cho-container',
        label: 'Pagar',
      }
    });
  </script>

</div>
