.form_style {
  margin: 0 auto;
  width: 1200px;
  height: auto;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-top: 5px;
  box-shadow: 1px 1px 4px #C6E3CC;
  transition: background-color .5s;
  align-items: center;
}

.form_style:hover {
  box-shadow: 1px 1px 7px rgba(201, 200, 200, 0.897);
  color: #333;
}

.form-date-from, .form-date-to {
  width: 155px; }
