.form_style {
  margin: 0 auto;
  width: 1200px;
  height: auto;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-top: 5px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  align-items: center;
}

.form_style:hover {
  border: 1px solid #333;
  box-shadow: 2px 2px 8px rgba(80, 77, 77, 0.5);
  background-color: #EEE;
  color: #333;
}

