<div class="container">
  <div id="chatroom_container" class="row bg-dark text-light">
    <div id="side_panel" class="col-md-12 col-sm-12">
      <h3 style="padding: 5px; margin-left: 500px;"><%= current_user.email %></h5>
      <div>
        <h6 style="color: white;">Chatrooms del torneo</h6>
        <%= turbo_stream_from "chatrooms" %>
        <div id="chatrooms">
          <%= render @chatrooms %>
        </div>
      </div>
    </div>
  </div>
</div>
