.footer {
  background: #184A22;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  color: white;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  border-color: aliceblue;
  opacity: 1;
}

.copyright-text {
  font-size: 14px;
  color: rgb(233, 223, 223);
  opacity: 0.25;
  bottom: 5px;
}
