.mapa{
  width: 1000px;
  height: 300px;
  margin-top: 25px;
  margin-left: 100px;
  border-radius: 5%;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
