.match_card {
  background-color: #C6E3CC;
  width: 250px;
}

.match_card_g1 {
  background-color: #39ad50a2;
  width: 250px;
  color: white;
}

.match_card_g2 {
  background-color: #63636370;
  width: 250px;
  color: white;
}

.match_card_g3 {
  background-color: #49de67ad;
  width: 250px;
  color: white;
}

.match_card_g4 {
  background-color: #184a2263;
  width: 250px;
  color: white;
}
