.navbar-lewagon {
  justify-content: space-between;
  background: rgb(71, 68, 68);
  background: linear-gradient(80deg, rgba(0, 0, 0, 1) 100%, rgb(78, 74, 74) 0%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}


.text-red {
  color: #167926;
  font-size:1.5rem;
  font-style:italic;
}

